body {
  margin: 0 0 0 0;
}

header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5vw;
}

h4 {
  font-style: italic;
}

h5 {
  font-style: italic;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

a:active {
  opacity: 0.2;
}

.post {
  width: 80vw;
  padding: 2vw;
  margin-bottom: 5vw;
  background-color: #FAF9F6;
  box-shadow: 0 0 1vw #000000;
}
